/* 
  these type the CSS variable as color
  unlocking the ability for the browser 
  to animate just that portion
*/
@property --＠color-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(135, 86%, 22%);
}

@property --＠color-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(204 100% 59%);
}

@property --＠color-dark-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(136, 19%, 69%);
}

@property --＠color-dark-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(204, 82%, 65%);
}

/* keyframes that change the color variable */
@keyframes gradient-change {
  to {
    --＠color-1: hsl(210 100% 59%);
    --＠color-2: hsl(12, 86%, 38%);
  }
}

@keyframes gradient-change-dark {
  to {
    --＠color-dark-1: hsl(210, 64%, 80%);
    --＠color-dark-2: hsl(12, 31%, 68%);
  }
}

.title {
  /* apply variable changes over time */
  animation: gradient-change 2s linear infinite alternate;

  background: linear-gradient(
    /* 
        in oklch produces more vibrant gradient results 
        learn more https://developer.chrome.com/docs/css-ui/access-colors-spaces#color_interpolation
      */
      to right in oklch,
    /* use the variables in a gradient (or wherever!) */ var(--＠color-1),
    var(--＠color-2)
  );

  /* old browser support */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* modern browser version */
  background-clip: text;
  color: transparent;
}

.app-container.dark .title {
  /* apply variable changes over time */
  animation: gradient-change-dark 2s linear infinite alternate;

  background: linear-gradient(
    /* 
        in oklch produces more vibrant gradient results 
        learn more https://developer.chrome.com/docs/css-ui/access-colors-spaces#color_interpolation
      */
      to right in oklch,
    /* use the variables in a gradient (or wherever!) */ var(--＠color-dark-1),
    var(--＠color-dark-2)
  );

  /* old browser support */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* modern browser version */
  background-clip: text;
  color: transparent;
}
